* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #222;
}


.logo {
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #00bfff;
}

/* Home */
.home {
    height: 90vh;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home h1 {
    font-size: 40px;
}

.home p {
    margin: 10px 0;
    color: gray;
}

.home button {
    padding: 10px 20px;
    border: none;
    background-color: #00bfff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.home button:hover {
    background-color: #009acd;
}

/* Sections */
section {
    padding: 60px 50px;
    text-align: center;
}

#skills .skills-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.skill {
    background-color: #00bfff;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
}


footer {
    
    text-align: center;
    padding: 20px;
    background-color: #111;   /* optional */
    color: white;

    
        
}


#photo img {
  clip-path: circle(40%);
  border-radius: 50%;
   width: 200px;
    position: absolute;
    top: 50px;
    right: 50px;

  object-fit: cover;

  position: absolute;
  top: 0px;
  right: 0px;
 
}
#myButton{
    height: 100%;
    aspect-ratio:1/1;
    background-color: rgb(84, 84, 149);
    fill:whitesmoke;
    border:none;
    border-radius:50%;
    position:absolute;
    right:0;
    
}

.project-container {
display:grid;
grid-template-columns: repeat(3,1fr);
gap:20px;
 margin-top:30px;
}

.project-card {
  padding : 15px;
  text-align:center;
  border-radius:8px;
}
.project-card img{
    width:100%;
    border-radius:6px;
    object-fit:cover;
}
.view-project {
   margin-top: 15px;
  padding: 10px 16px;
  border: 2px solid #ccc;     
  border-radius: 12px;        
  display: inline-block;

  color: #333;
  cursor: pointer;
 
}

.view-project:hover {

  transform: scale(1.05);
}
#about-skills {
  padding: 60px 10%;
}

.about-skills-wrapper {
  display: flex;
  gap: 60px;
  align-items: center;
}

/* Left & Right columns */
.skills-left,
.about-right {
  flex: 1;
}

/* Skills styling */
.tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.tech {
  padding: 8px 14px;
  border: 1px solid #444;
  border-radius: 20px;
  font-size: 14px;
}

/* About text */
.about-right p {
  line-height: 1.6;
  font-size: 16px;
}



@media (max-width: 900px) {
  .project-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .project-container {
    grid-template-columns: 1fr;
  }
}





 










